---
import imgOne from "@data/home/imgs/boat.jpg";
import imgTwo from "@data/home/imgs/on-the-water.jpg";

// Must use to pass to react
import { getImage } from "@astrojs/image";
const boat = await getImage({
  src: imgOne,
});
const water = await getImage({ src: imgTwo });
const images = [
  { src: boat.src, alt: "boat" },
  { src: water.src, alt: "boat" },
];

import { Slider } from "@components/Gallery/Slider";
---

<section class="my-20 lg:my-40 relative overflow-x-hidden px-[2.5%]">
  {/* Background Circles */}
  <div class="bg-yellow/40 h-16 w-16 rounded-full absolute left-10 top-1/2">
  </div>
  <div class="bg-purple/20 h-8 w-8 rounded-full absolute left-1/3 -top-10">
  </div>
  <div
    class="bg-blue-pastel/20 h-80 w-80 rounded-full absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
  </div>

  <div
    class="flex flex-col lg:flex-row items-center lg:items-start gap-5 max-w-7xl mx-auto"
  >
    <div class="lg:min-w-max">
      <div class="max-w-lg text-center lg:text-left">
        <p class="text-orange font-candal text-small font-bold">Join Us On A</p>
        <h2 class="font-candal mt-2 text-dark-blue font-bold text-3xl">
          Slipaway To The River And Enjoy The Ride!
        </h2>
        <p class="font-blue mt-4 leading-relaxed">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet
          veniam maiores tenetur totam tempora, quia incidunt cumque ea ad?
        </p>
      </div>
    </div>
    {/* showcase */}
    <div class="">
      <Slider images={images} client:visible />
    </div>
  </div>
</section>
