---
interface Props {
  img: string;
  alt: string;
  classes?: string;
}

const { img, alt, classes } = Astro.props;

import { Image } from "@astrojs/image/components";
---

<div class="h-[350px] w-[600px]">
  <Image
    src={img}
    alt={alt}
    class={classes + " rounded-[50px] object-cover h-full"}
  />
</div>
