---
// Import assets
import logo from "@data/home/imgs/sar-logo.png";

// Import components
import { Image } from "@astrojs/image/components";
import Hamburger from "./Hamburger";
import NavMenu from "./NavMenu";
const links = [
  { linkText: "About", link: "/about" },
  {
    linkText: "Tours",
    link: "#",
    sublinks: [
      { linkText: "Narrated Public Tour", link: "/tours/narrated-public-tour" },
      { linkText: "Specialty Cruise", link: "/tours/specialty-cruise" },
      { linkText: "Private Charter", link: "/tours/private-charter" },
      { linkText: "Island Excursion", link: "/tours/island-excursion" },
    ],
  },
  {
    linkText: "FAQs",
    link: "/faqs",
  },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header
  class={(className ? className : "") +
    " py-5 px-edge flex items-center justify-between relative"}
>
  <a href="/"
    ><Image
      src={logo}
      alt="Slipaway River Tours Logo"
      width={120}
      height={120}
    />
  </a>

  <NavMenu links={links} client:load />
</header>
