---
interface Props {
  index: number;
  content: {
    image: {
      src: string;
      alt: string;
    };
    name: string;
    bio: string;
  };
}
const { index, content } = Astro.props;

const isEven = index % 2 === 0;

import { Image } from "@astrojs/image/components";
import topo from "@data/general/imgs/topography-1.png";
---

<div
  class={"flex flex-col items-center lg:items-start space-y-10 my-10 lg:space-y-0 lg:space-x-10 " +
    (isEven ? "lg:flex-row" : "lg:flex-row-reverse")}
>
  <div class="grow shrink-0 relative">
    <div
      class={"w-80 h-64 bg-dark-blue top-1/2 -translate-y-1/2 absolute " +
        (isEven ? "left-0 -translate-x-full " : "right-0 translate-x-full")}
    >
      <Image class="h-full" src={topo} alt="slipaway river tours" />
    </div>
    <Image
      class="rounded-3xl"
      src={content.image.src}
      width={600}
      height={400}
      alt={content.image.alt}
      format="jpg"
      fit="cover"
    />
  </div>

  <div
    class="shrink grow-0 space-y-4 relative self-start text-center lg:text-left"
  >
    {/* Absolute Circles */}
    <div class="w-12 h-12 bg-purple/20 absolute rounded-full -bottom-32 left-5">
    </div>
    <div class="w-20 h-20 bg-green/20 rounded-full absolute -top-10 right-0">
    </div>
    <div
      class="w-14 h-14 rounded-full bg-yellow/20 absolute -right-40 bottom-0"
    >
    </div>
    <h6 class="font-bold font-candal text-dark-blue text-3xl">
      {content.name}
    </h6>
    <div class="space-y-2 text-dark-blue/70">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius
        laboriosam nemo praesentium fuga nobis repudiandae incidunt sed aliquam
        illum ea, neque corrupti repellendus? Reiciendis quo quisquam impedit
        sint mollitia ipsum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
        necessitatibus magni excepturi quos illum saepe esse placeat non
        nesciunt ea!
      </p>
    </div>
  </div>
</div>
