---
import CTACard from "@components/Card/CTACard.astro";
import ctaSection from "@data/general/ctaSection";

import sunset from "@data/home/imgs/slipaway-river-tours-sunset.jpg";
---

<section class="my-40">
  <CTACard
    content={ctaSection}
    image={{ src: sunset, alt: "River Tours CT" }}
  />
</section>
